pandas
matplotlib
scikit-learn
numpy
ucimlrepo

# Core
numpy>=1.23
pandas>=2.0
scikit-learn>=1.2

# PyTorch (CPU only by default, change to torch==2.1.0+cu121 if using CUDA 12.1)
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
torchinfo

# Utilities
tqdm>=4.65
matplotlib>=3.7
seaborn>=0.12

# Jupyter environment
jupyterlab>=4.0
notebook>=7.0
ipykernel>=6.25

# MLflow
mlflow>=2.20